extends ../../templates/project-page

block vars
  - var slug = 'inamo'
  - var title = 'inamo restaurant'
  - var play = 'https://www.youtube.com/embed/z-7Hl3Ex03I?autoplay=1&vq=hd720'

block description
  p An interactive experience voted "London's best restaurant" by TimeOut readers. See the <a href="https://blog.berniesumption.com/software/inamo-case-study/">case study</a> describing my role, a very geeky account of <a href="https://blog.berniesumption.com/software/inamo-mouse-system-multiple-mouse-pointers-in-flash/">one technical aspect</a> of the project, or watch some guy on YouTube called Ant tell you about it below. Thanks Ant.
