@import 'nib'

body
  font-family "Droid Serif", serif
  font-size 19px
  color #FFF
  min-width 420px
  background-color #333

h1, h2, h3, h4, h4, h6
  font-family Lato, sans-serif


.container
  max-width 1100px
  margin 0 auto // above 1100, centre container
  position relative

  clearfix()

  @media screen and (max-width 1200px)
    margin 0 50px // 900-1100 shrink keeping 50px margin

  @media screen and (max-width 1000px)
    margin 0 5% // below 900 start to shrink margin
