
@import './shared.styl'

$native-photo-width = 225px
$native-photo-height = 270px

.jumbo-card
  position relative
  padding 1px
  background url("DIGEST(/images/home-jumbo-card-bg.jpg)")

  background-size 100%
  border-bottom solid 10px $accent_color
  box-shadow 0 0 100px #000

  thick-text-shadow()


  // mobile layout first, smallest width will be 420px because of viewport-resize.coffee

  .container
    margin-top 7%
    margin-bottom 7%

  $photo-width = $native-photo-width * 0.6

  .image
    width $photo-width
    height $native-photo-height * .6
    image 'DIGEST(/images/bernie-cv-photo.jpg)' 100%
    border-radius 5px
    box-shadow 0 0 20px #000

  .greeting
    position absolute
    top 40px
    left $photo-width + 55px
    font-size 20px
    font-weight bold
    line-height 0
    right 50px

  .name
    position absolute
    top 10px
    left $photo-width + 20px
    font-size 50px
    line-height 1em

  .tagline
    font-size 22px
    line-height 1em

  @media $medium_device
    .greeting
      top 10px

    .name
      top -20px

    .tagline
      position absolute
      top 60px
      left $photo-width + 20px
      max-width 450px
      line-height 1.2em

  @media $large_device

    .image
      width $native-photo-width
      height $native-photo-height

    .greeting
      font-size 35px
      font-weight bold
      top 35px
      left 330px

    .name
      font-size 80px
      left 280px
      top: -20px

    .tagline
      font-size 30px
      top 120px
      left 280px
      max-width 600px


.project-badge
  display block
  position relative
  color #FFF
  float left
  background-size: 100%
  width 100%
  padding-bottom 100%
  margin 10px 0
  border-radius 5px
  overflow hidden

  thick-text-shadow()

  @media $medium_device
    margin 4% 2% 0 2%
    width 45%
    padding-bottom 45%

  @media $large_device
    width 28%
    padding-bottom 28%

.project-badge-wrapper
  margin-bottom 40px
  clearfix()

.project-badge .title
  display block
  font-size 30px
  position absolute
  margin 0
  top 0
  left 0
  right 0
  line-height 0.5
  padding 20px
  background-color transparent
  transition background-color .25s ease-in-out

.project-badge:hover .title
  background-color $accent_color

.project-badge .skills
  display block
  font-style italic
  background linear-gradient(bottom, 75px rgba(0, 0, 0, .25),  rgba(0, 0, 0, 0))
  position absolute
  bottom 0
  left 0
  right 0
  padding 20px
  border-radius 0 0 5px 5px

.spark-badge
  image 'DIGEST(/images/projects/spark-thumb.jpg)' 100%

.inamo-badge
  image 'DIGEST(/images/projects/inamo-thumb.jpg)' 100%

.still-badge
  image 'DIGEST(/images/projects/still-thumb.jpg)' 100%

.musclegenes-badge
  image 'DIGEST(/images/projects/musclegenes-thumb.jpg)' 100%

.ge-tables-badge
  image 'DIGEST(/images/projects/ge-tables-thumb.jpg)' 100%

.eyes-badge
  image 'DIGEST(/images/projects/eyes-thumb.jpg)' 100%

.wp-geo-big-map-badge
  image 'DIGEST(/images/projects/wp-geo-big-map-thumb.jpg)' 100%

.photo-guides-badge
  image 'DIGEST(/images/projects/photo-guides-thumb.jpg)' 100%
