@import 'nib'

$native-photo-width = 225px
$native-photo-height = 270px

.jumbo-card
  position relative
  padding 1px

  background url(/images/home-jumbo-card-bg.jpg)
  background-size 100%
  text-shadow 0 0 10px #000
  text-shadow 0 0 10px #000, 0 0 10px #000, 0 0 10px #000
  border-bottom solid 10px deeppink
  box-shadow 0 0 100px #000


  // mobile layout first, smallest width will be 420px because of viewport-resize.coffee

  .container
    margin-top 7%
    margin-bottom 7%

  $photo-width = $native-photo-width * 0.6

  .image
    width $photo-width
    height $native-photo-height * .6
    image '/images/bernie-cv-photo.jpg' 100%
    border-radius 5px
    box-shadow 0 0 20px #000

  .greeting
    position absolute
    top 40px
    left $photo-width + 55px
    font-size 20px
    font-weight bold
    line-height 0
    right 50px

  .name
    position absolute
    top 10px
    left $photo-width + 20px
    font-size 50px
    line-height 1em

  .tagline
    font-size 22px
    line-height 1em

  @media screen and (min-width 620px)
    .greeting
      top 10px

    .name
      top -20px

    .tagline
      position absolute
      top 60px
      left $photo-width + 20px
      max-width 450px
      line-height 1.2em

  @media screen and (min-width 1000px)

    .image
      width $native-photo-width
      height $native-photo-height

    .greeting
      font-size 35px
      font-weight bold
      top 35px
      left 330px

    .name
      font-size 80px
      left 280px
      top: -20px

    .tagline
      font-size 30px
      top 120px
      left 280px
      max-width 600px


bg-color = #0d1528

.project-badge-wrapper
  background linear-gradient(left, bg-color, lighten(bg-color, 10%), bg-color)

  h2
    text-shadow: 0 0 5px #000

.project-badge
  display block
  float left
  background #666
  background-size: 100%
  width 100%
  padding-bottom 100%
  margin 10px 0

  @media screen and (min-width 620px)
    margin 2%
    width 45%
    padding-bottom 45%

  @media screen and (min-width 1000px)
    margin 2%
    width 28%
    padding-bottom 28%



.sparks-badge
  image '/images/projects/sparks-thumb.jpg' 100%
