@import 'nib'

thick-text-shadow($color=#000)
  text-shadow 0 0 10px $color
  text-shadow 0 0 10px $color, 0 0 10px $color, 0 0 10px $color


$medium_device = "screen and (min-width 620px)"
$large_device = "screen and (min-width 1000px)"

$accent_color = deeppink
$bg_color = #0d1528

// marker comment
