@import 'nib'

thick-text-shadow()
  text-shadow 0 0 10px #000
  text-shadow 0 0 10px #000, 0 0 10px #000, 0 0 10px #000


$medium_device = "screen and (min-width 620px)"
$large_device = "screen and (min-width 1000px)"

$accent_color = deeppink
$bg_color = #0d1528

// marker comment
