extends ../../templates/project-page

block vars
  - var slug = 'spark'
  - var title = 'spark'
  - var play = 'http://berniesumption.github.io/color-sparks'
  - var github = 'color-sparks'

block description
  p A pretty little toy made with JavaScript and Canvas as part of a research project. Also available in ActionScript and Processing. See the  #[a(href="http://blog.berniesumption.com/software/graphics-programming-environments/") blog post] and #[a(href="http://berniesumption.github.io/color-sparks") GitHub repo].
