extends ../../templates/project-page

block vars
  - var slug = 'eyes'
  - var title = 'eyes'
  - var play = "https://www.flickr.com/photos/bernieandjude/sets/72157604813661101/player/"

block description
  p A photo book of inside-out portraits. I've written about #[a(href="http://blog.berniesumption.com/photography/eyes/") the project], about #[a(href="http://blog.berniesumption.com/photography/eyes/") the technique used], or check out the photos below.
