extends templates/skeleton

block body
  .project-page(style="background-image: url('DIGEST(/images/projects/ge-tables-large.jpg)');")

    .heading
      h1 GE Touch Tables
      p Interactive touch-tables for GE China's Chengdu Innovation Centre, created with OpenFrameworks and Python. I was part of a team of 3 developers at #[a(href="http://sydney.imagination.com/") Imagination Sydney].
    
    +fullScreenPlay("https://www.youtube.com/embed/jsjRFbcD7mI?autoplay=1&vq=hd720")
    

    
