doctype html
html(lang="en")
  head
    title Bernie Sumption's personal website
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:700|Droid+Serif")
    link(rel="stylesheet" href="/inc/app.css")
    meta(id="viewport" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
    script(src="http://192.168.1.66:35729/livereload.js?snipver=1")
  body

    .jumbo-card
      .container
        .image
        .greeting Hi, I'm
        h1.name Bernie Sumption
        p.tagline.
          I build interesting software. Browse my projects below, check out my blog or contact me.

    .container
      p hello
    p content
    p content
    p content
    p content
    p content
    p content
    p content
    p content
    p content
    p content
    p content
    p content
    p content
    p content
    p content

  script(src="/inc/vendor.js")
  script(src="/inc/app.js")