extends templates/skeleton

block body

  .jumbo-card
    .container
      .image
      .greeting Hi, I'm
      h1.name Bernie Sumption
      p.tagline.
        I build interesting software. I also have a #[a(href="http://blog.berniesumption.com") blog], a #[a(href="https://www.linkedin.com/in/berniesumption") CV] and a #[a(href="https://github.com/BernieSumption") GitHub].

  .container
    
    h2 Major projects
    

    mixin project(file, name, skills)
      a(href="/#{file}.html" class="project-badge #{file}-badge")
        span.title= name
        span.skills= skills
    
    .project-badge-wrapper
      
      +project('musclegenes', 'MuscleGenes', 'Python')
      
      +project('inamo', 'inamo restaurant', 'UX, ActionScript, Java, C#, other stuff')
      
      +project('ge-tables', 'GE Touch Tables', 'C++, OpenGL, Python')
      
      
    h2 Experiments and miscellany
    
    .project-badge-wrapper
      
      +project('spark', 'spark', 'JavaScript')
        
      +project('still', 'still', 'Photography, electronics')
      
