doctype html
html(lang="en")
  head
    title Bernie Sumption's personal website
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:700|Droid+Serif")
    link(rel="stylesheet" href="/inc/app.css")
    meta(id="viewport" name="viewport" content="width=420, initial-scale=0.69, minimum-scale=0.69")
  body

    .jumbo-card
      .container
        .image
        .greeting Hi, I'm
        h1.name Bernie Sumption
        p.tagline.
          I build interesting software. Browse my projects below, check out my blog or contact me.

    .project-badge-wrapper
      .container
        h2 Major projects
        
        .project-badge
        .project-badge
        .project-badge
          
        h2 Experiments and miscellany
        
        .project-badge.sparks-badge
          
        .project-badge
        .project-badge
        .project-badge
        .project-badge

  script(src="/inc/vendor.js")
  script(src="/inc/app.js")
