extends templates/skeleton

block body
  .project-page(style="background-image: url('DIGEST(/images/projects/musclegenes-large.jpg)'); background-position: bottom;")

    .heading
      h1 MuscleGenes
      p A biotechnology company that provides practical training and nutrition advice based on your genes. In the video below I attempt to explain how it works in 5 minutes. There's more info on my role at MG in #[a(href="https://www.linkedin.com/in/berniesumption") my CV].
    
    +fullScreenPlay("https://www.youtube.com/embed/zhW5SnAF8pY")
    
