extends templates/skeleton

block body
  .project-page(style="background-image: url('DIGEST(/images/projects/spark-large.jpg)')")
    
    a.fork-me(href="https://github.com/BernieSumption/color-sparks")

    .heading
      h1 spark
      p A pretty little toy made with JavaScript and Canvas as part of a research project. Also available in ActionScript and Processing. See the  #[a(href="http://blog.berniesumption.com/software/graphics-programming-environments/") blog post] and #[a(href="http://berniesumption.github.io/color-sparks") GitHub repo].
    
    +fullScreenPlay("http://berniesumption.github.io/color-sparks")
    
