extends templates/skeleton

block body
  .project-page(style="background-image: url('DIGEST(/images/projects/still-large.jpg)')")

    .heading
      h1 still
      p Photos taken with 
    
    a.play(href="https://www.youtube.com/embed/z-7Hl3Ex03I?autoplay=1")

    .popover-frame
      a.close(href="javascript:void(0)", title="Close [Esc]")
