extends templates/skeleton

block body
  .project-page(style="background-image: url('DIGEST(/images/projects/still-large.jpg)')")

    .heading
      h1 still
      p Photos that freeze motion, made by wiring a microphone to a camera flash. #[a(href="http://blog.berniesumption.com/photography/still/") Read more].

    +fullScreenPlay("https://www.flickr.com/photos/bernieandjude/sets/72157625049910015/player/")
