extends templates/skeleton

block body
  .project-page(style="background-image: url('DIGEST(/images/projects/wp-geo-big-map-large.jpg)')")

    .heading
      h1 WP Geo Big Map
      p A Wordpress plugin for displaying blog posts on a large map, currently used in over 1000 places around the web. There's an #[a(href="http://blog.berniesumption.com/software/wp-geo-big-map/") introduction], some #[a(href="https://wordpress.org/plugins/wp-geo-big-map/") documentation], or an example of it in action on #[a(href="http://bernieandju.de/map/") my travel blog].
