extends ../templates/skeleton

block body

  .jumbo-card
    .container
      .image
      .greeting Hi, I'm
      h1.name Bernie Sumption
      p.tagline.
        I build interesting software.
        
        
  .social-icons
    .container
      .social-icon-group
        a.icon-wordpress(href="http://blog.berniesumption.com/") Blog
        a.icon-github-circled(href="https://github.com/BernieSumption") GitHub
      .social-icon-group
        a.icon-linkedin-squared(href="https://www.linkedin.com/in/berniesumption") CV
        a.icon-twitter-squared(href="https://twitter.com/BernieSumption") Twitter
  
  
  .container

    mixin project(file, name, skills)
      a(href="/#{file}/" class="project-badge #{file}-badge")
        span.title= name
        span.skills= skills
          
    h2 Major projects
    
    .project-badge-wrapper
      
      +project('musclegenes', 'MuscleGenes', 'Python')
      
      +project('inamo', 'inamo restaurant', 'UX, ActionScript, Java, C#, other stuff')
      
      +project('ge-tables', 'GE Touch Tables', 'C++, OpenGL, Python')
      
      +project('spark', 'spark', 'JavaScript')
        
      +project('still', 'still', 'Photography, electronics')
        
      +project('eyes', 'eyes', 'Photography')
        
      +project('photo-guides', 'Photography guide', 'Technical writing')
        
      +project('wp-geo-big-map', 'WP Geo Big Map', 'Wordpress, PHP, JavaScript')
    
    h2 Other work
    
    .project-badge-wrapper
    
      ul
        li #[a(href="http://blog.berniesumption.com/software/animator/") Animator.js] - Arguably the first good JavaScript CSS animation library.
        li #[a(href="https://github.com/BernieSumption/OGRE/wiki") OGRE] - A protocol for cross-platform structured data replication.
        li #[a(href="http://blog.berniesumption.com/software/mixins-for-java/") Mixins for Java] - Hacking #[a(href="http://en.wikipedia.org/wiki/Mixin") Mixins] into the Java language.
      
