extends ../templates/skeleton

block body

  .jumbo-card
    img.parallax-image(src="/images/home-jumbo-card-bg.jpg?DIGEST")
    .container
      .image
      .greeting Hi, I'm
      h1.name Bernie Sumption
      p.tagline I build interesting software.
        
        
  .social-icons
    .container
      .social-icon-group
        a.icon-wordpress(href="https://blog.berniesumption.com/") Blog
        a.icon-github-circled(href="https://github.com/BernieSumption") GitHub
      .social-icon-group
        a.icon-linkedin-squared(href="https://www.linkedin.com/in/berniesumption") CV
        a.icon-twitter-squared(href="https://twitter.com/BernieSumption") Twitter
  
  
  .container

    mixin project(file, name, skills, link)
      if !link
        - link = "/" + file + "/"
      a(href=link class="project-badge #{file}-badge")
        span.title= name
        if skills
          span.skills= skills
    
    .project-badge-wrapper
      
      +project('waveform', 'Waveform Audio Player', 'JavaScript')
      
      +project('musclegenes', 'MuscleGenes', 'Python')
      
      +project('inamo', 'inamo restaurant', 'UX, ActionScript, Java, C#, other stuff')
      
      +project('ge-tables', 'GE Touch Tables', 'C++, OpenGL, Python')
      
      +project('spark', 'spark', 'JavaScript')
      
      +project('tweeting-catflap', "Daphne's tweeting catflap", 'Python, electronics')
        
      +project('photo-guides', 'Photography guide', 'Technical writing')
        
      +project('wp-geo-big-map', 'WP Geo Big Map', 'Wordpress, PHP, JavaScript')
        
      +project('still', 'still', 'Photography, electronics')
        
      +project('eyes', 'eyes', 'Photography')
        
      +project('ogre', 'OGRE', 'Networking', 'https://github.com/BernieSumption/OGRE/wiki')
    
    h2 Other work
    
    .project-badge-wrapper
    
      ul
        li #[a(href="https://blog.berniesumption.com/software/animator/") Animator.js] - Arguably the first good JavaScript CSS animation library.
        li #[a(href="https://blog.berniesumption.com/software/mixins-for-java/") Mixins for Java] - Hacking #[a(href="https://en.wikipedia.org/wiki/Mixin") Mixins] into the Java language.
      
