{{ define "main"}}
  {{ .Content }}

  {{ $style := resources.Get "style/study.scss" | resources.ToCSS }}
  <link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}">

  {{/* if page is at /lala/foo/bar/, look for bar.ts */}}
  {{ $scriptFile := replaceRE ".*/([a-zA-Z0-9-]+)/?" "/js/studies/$1.ts" .Page.RelPermalink }}
  {{ with resources.Get $scriptFile  }}
    {{ $js := . | js.Build (dict
      "format" "esm"
      "target" "es2018"
      "externals" (slice "/vendor/*")
      ) }}
    <script type="module">{{ $js.Content | safeJS }}</script>
  {{ else }}
    {{ errorf "Could not find resource %#v" $scriptFile }}
  {{ end }}

  <div id="study-container"></div>
  
{{end}}


