{{ define "main"}}
  {{ .Content }}

  {{ $style := resources.Get "style/study.scss" | resources.ToCSS }}
  <link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}">

  {{/* if page is at /lala/foo/bar/, look for assets/foo/bar/bar.ts */}}
  {{ $scriptFile := replaceRE ".*/([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/?" "$1/$2/$2.ts" .Page.RelPermalink }}
  {{ with resources.Get $scriptFile  }}
    {{ $opts := dict "shims" (dict "three" ) }}
    {{ $js := . | js.Build $opts }}
    <script type="text/javascript" src="{{ $js.RelPermalink }}" defer></script>
  {{ else }}
    {{ errorf "Could not find resource %#v" $scriptFile }}
  {{ end }}

  <div id="study-container"></div>
  
{{end}}


