extends ../../templates/project-page

block vars
  - var slug = 'ge-tables'
  - var title = 'GE Touch Tables'
  - var play = "https://www.youtube.com/embed/jsjRFbcD7mI?autoplay=1&vq=hd720"

block description
  p Interactive touch-tables for GE China's Chengdu Innovation Centre, created with OpenFrameworks and Python. I was part of a team of 3 developers at #[a(href="http://sydney.imagination.com/") Imagination Sydney].
