extends ../../templates/project-page

block vars
  - var slug = 'wp-geo-big-map'
  - var title = 'WP Geo Big Map'
  - var github = 'wp-geo-big-map'

block description
  p A Wordpress plugin for displaying blog posts on a large map, currently used in over 1000 places around the web. There's an #[a(href="https://blog.berniesumption.com/software/wp-geo-big-map/") introduction], some #[a(href="https://wordpress.org/plugins/wp-geo-big-map/") documentation], or an example of it in action on #[a(href="http://bernieandju.de/map/") my travel blog].
