extends ../../templates/project-page

block vars
  - var slug = 'dnartwork'
  - var title = 'DNArtwork'

block description
  p 3 years in the making, a personal project to generate abstract artwork from your DNA. Get your artwork at #[a(href="https://dnartwork.com/") dnartwork.com], read about #[a(href="https://blog.berniesumption.com/software/dnartwork/dnartwork-generating-realistic-painted-shapes/") how the images are generated], or a #[a(href="http://blog.berniesumption.com/software/dnartwork/") broader technical overview].
