extends ../../templates/project-page

block vars
  - var slug = 'photo-guides'
  - var title = 'Photography Guides'

block description
  p A pair of photography tutorials - one #[a(href="http://blog.berniesumption.com/photography/beginners-guide-for-geeks/") beginner&#39;s guide] and one on #[a(href="http://blog.berniesumption.com/photography/depth-of-field-for-geeks/") depth of field]. The beginner's guide has been read by 2 million people and at one point was the #4 ranked google result for "photography guide". Written in 2007 they are still my favourite personal examples of technical writing.
