extends ../../templates/project-page

block vars
  - var slug = 'still'
  - var title = 'still'
  - var play = 'https://www.flickr.com/photos/bernieandjude/sets/72157625049910015/player/'

block description
  p Photos that freeze motion, made by wiring a microphone to a camera flash. #[a(href="https://blog.berniesumption.com/photography/still/") Read more].
