doctype html
html(lang="en")
  head
    title Bernie Sumption
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:700|Droid+Serif")
    link(rel="stylesheet" href="/inc/app.css?DIGEST")
    meta(id="viewport" name="viewport" content="width=420, initial-scale=0.69, minimum-scale=0.69")
  body.clearfix
    block body

  script(src="/inc/vendor.js?DIGEST")
  script(src="/inc/app.js?DIGEST")
